.video-area .video-poster {
    background: url(https://static.pexels.com/photos/487867/pexels-photo-487867.jpeg) no-repeat center center;
}


p.js-program-description.description {
    height: 62px!important;
    overflow: hidden;
}